<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568951584181-f59if0ibfur7ko8n090k93n8cqhrthr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568951584181-f59if0ibfur7ko8n090k93n8cqhrthr1</string>
	<key>API_KEY</key>
	<string>AIzaSyAubqKKsGQ-SOWVMYBKjuTTBptDtcrTt3A</string>
	<key>GCM_SENDER_ID</key>
	<string>568951584181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LeoNatan.TimersTest</string>
	<key>PROJECT_ID</key>
	<string>detox-test-project</string>
	<key>STORAGE_BUCKET</key>
	<string>detox-test-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568951584181:ios:dcd76118d53cceb9f615fc</string>
</dict>
</plist>